[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "decisionTree/reveal.js"]
	path = decisionTree/reveal.js
	url = https://github.com/hakimel/reveal.js.git
